/*
===============
   Flip Card
===============
*/
.card-container {
    perspective: 800px;
}

.flippable-card {
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flippable-card mat-card {
    margin: 0;
    display: block;
    backface-visibility: hidden;
}

.flippable-card .back {
    background: #23262d;
    color: #FFF;
    transform: rotateY(180deg);
}

.flippable-card.flipped {
    transform: rotateY(180deg);
}