@use '@angular/material' as mat;
$afs-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$afs-light-accent: mat.define-palette(mat.$brown-palette, 200);
$afs-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$afs-light-theme: mat.define-light-theme(
  $afs-light-primary,
  $afs-light-accent,
  $afs-light-warn
);
