$my-light-primary: mat-palette($mat-grey, 200, 500, 300);
$my-light-accent: mat-palette($mat-brown, 200);
$my-light-warn: mat-palette($mat-deep-orange, 200);

$my-light-theme: mat-light-theme(
  $my-light-primary,
  $my-light-accent,
  $my-light-warn
);
