.masonry {
  column-gap: 1em;

  @media only screen and (min-width: 1024px) {
    column-count: 4;
  }

  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    column-count: 3;
  }

  @media only screen and (max-width: 767px) and (min-width: 540px) {
    column-count: 2;
  }
}
