@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin my-project-container-component-theme($theme) {
  $accent: map-get($theme, accent);

  .active {
    color: mat.get-color-from-palette($accent, default-contrast);
    background-color: mat.get-color-from-palette($accent);

    &:hover {
      color: mat.get-color-from-palette($accent, default-contrast);
      background-color: mat.get-color-from-palette($accent);
    }
  }
}
